Cheetah==2.4.4
CherryPy==3.2.2
Flask==0.8
Flask-SQLAlchemy==0.15
FormEncode==1.2.4
Jinja2==2.6
Mako==0.6.2
Markdown==2.1.1
MarkupSafe==0.15
MySQL-python==1.2.3
SQLAlchemy==0.7.5
SQLObject==1.2.1
Werkzeug==0.8.3
amqplib==1.0.2
anyjson==0.3.1
celery==2.4.6
distribute==0.6.21
gdata==2.0.16
httplib2==0.7.2
kombu==2.1.0
lettuce==0.1.34
lxml==2.3.3
nose==1.1.2
oauth2==1.5.211
psycopg2==2.4.4
rdflib==3.1.0
redis==2.4.11
selenium==2.17.0
splinter==0.4.4
virtualenv==1.7
virtualenvwrapper==2.11.1
wsgiref==0.1.2
